super,sku,marca,producto,pvp_sugerido
Tata,805,Rapiditas,Rapiditas tradicional 10 u,172
Disco,,Bimbo,Pan Lacteado Bimbo 590 g,162
El Dorado,,Takis,Takis Fuego 90 g,149
Tienda Inglesa,,Salmas,Tostaditas Salmas x 12 216 g,310
todos,,Nutrabien,Brownie Nutrabien 62 g,56
